* {
  box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
  background: #fefefe;
}

h3 {
  color: #009688;
}

a,
a:visited {
  text-decoration: none;
}

span {
  font-size: 12px;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.form-container {
  padding-top: 100px;
}
nav {
  background: #009688;
  opacity: 0.7;
}

nav.nav-center ul {
  text-align: center;
}

.login-container {
  display: flex;
  flex: column;
}

nav.nav-center ul li {
  display: inline;
  float: none;
}
nav.nav-center ul li a {
  display: inline-block;
}

.portfolio-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.userDetails {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid red;
  border-radius: 25px;
  padding: 20px;
}

.spinner {
  margin: 20%;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
